/*Store Page */
body.wcfmmp-store-page #main .container{
    width: 100% !important;
    max-width: 100% !important;

}

/*Product Single page Slider*/
.nd-banner-slider-item img{
    height: 600px !important;
    width: 100%;
    object-fit:  cover;
}

/* Product Archive page*/
.nd-specification-number ul li {
    padding-left: 0;
    float: left;
    padding-right: 5px;
}
/* Product Archive page*/


/*GLOBAL*/
body.woocommerce .left-sidebar, body.woocommerce .right-sidebar, body.woocommerce .main-content {
    padding-top: 1rem;
}
.yith-wcan-filters .yith-wcan-filter h4 {
    font-size: 1rem;
}


.wcfm_menu_logo img {
    background: #fff;
}

#wcfm-main-content {
    padding: 10px 0px;
    margin: 0px auto;
    width: 100%;
	max-width:2000px;
}

.wcfm_product_manager_cats_checklist_fields {
    max-width: 250px;
    padding-bottom: 10px;
}

#wcfm_menu {
    min-height: 100vh;
}


/*Responsive CSS*/
@media (max-width: 1920px){



}

/* House and land package details page */
.page-top {
    background-color: #ececec;
}



/*Artchive page filter*/
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="product_cat"],
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_state"],
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_suburb"]
{
   width: 33%; float: left;padding: 0 10px;
}


.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_bathrooms"],
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_bedrooms"],
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_garage"],
.yith-wcan-filters .yith-wcan-filter[data-taxonomy="filter_house-size-sqm"]
{
   width: 25%; float: left;padding: 0 10px;
}


@media (min-width: 1170px) {
.nd-banner-slider-item img{
    height: 600px !important;
    width: 100%;
    object-fit:  cover;
}
}

@media (max-width: 1170px) {
.nd-banner-slider-item img{
    height: 500px !important;
}
}


